<!DOCTYPE html>
<html>
	<head>
		{{> head}}
		{{> styleformulario}}
		{{> styleconsulta}}
		{{> campos}}
		<meta charset="utf-8">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<title>Filmator - Avaliação</title>
	</head>
	<body>
		{{> navavaliacao}}
		{{> header}} 
		{{> scripts}} 
		<div align="center"> 
				<div class="divformulario"> 
					<label>Filme:</label>
					<select id="idFilme"> 
						<option value="">Selecione</option> 
						{{#Filmes}}
						<option value="{{idFilme}}">{{nome}} ({{anoLancamento}})</option> 
						{{/Filmes}}
					</select>
			
				<div class="divformulario"> 
					<label>Nota:</label>
					<select id="nota"> 
						<option value="">Selecione</option> 
						<option value="1">1</option> 
						<option value="2">2</option> 
						<option value="3">3</option> 
						<option value="4">4</option> 
						<option value="5">5</option> 
					</select>
				</div> 
				<div>
					<button id="id" class="btn">Avaliar</button>
				</div>
				<script>
					$('#id').click(function(){
					    $.ajax({
      						url: '/salvaravaliacao?nota=' + $('#nota').val() + '&idFilme=' + $('#idFilme').val(),
					      	type: 'POST'
					    }).done(function(res){
					      alert("Nice (: ")
					    });
					});
			  	</script>
			</form> 
		</div> 
	</body> 
</html>