<!DOCTYPE html>
<html>
	<head>
		{{> head}}
		{{> styleformulario}}
		<meta charset="utf-8">
		<title>Filmator - Cadastro</title>
	</head>
	<body>
		{{> nav}}
		{{> header}} 
		<div align="center"> 
			<form action="/salvarFilme" method="post"> 
				<div class="divformulario"> 
					<label>Nome:</label> 
					<input name="nome" type="text" required placeholder="Nome do filme"></input> 
				</div> 
				
				<div class="divformulario"> 
					<label>Gênero:</label>
					<select name="genero"> 
						<option value="">Selecione</option> 
						<option value="ACAO">Ação</option> 
						<option value="ANIMACAO">Animação</option> 
						<option value="COMEDIA">Comédia</option> 
						<option value="FICCAO">Ficção</option> 
						<option value="INDEPENDENTE">Independente</option> 
						<option value="ROMANCE">Romance</option> 
					</select>
				</div> 
				
				<div class="divformulario"> 
					<label>Ano de lançamento:</label> 
					<input name="anoLancamento" type="text" required placeholder="Ano de lançamento do filme"> 
				</div> 
				
				<div class="divformulario"> 
					<label>Diretor:</label> 
					<input name="diretor" type="text" required placeholder="Diretor do filme"> 
				</div> 
				
				<div class="divformulario"> 
					<label>Sinopse:</label> 
					<input name="sinopse" type="text" required placeholder="Sinopse do filme">
				</div> 
				
				<div class="divformulario"> 
					<label>URL da imagem:</label> 
					<input name="imagem" type="url" required placeholder="URL">
				</div> 
				
				<div class="divformulario"> 
					<input name="cadastrar" type="submit" required value="Cadastrar"> 
				</div> 
			</form> 
		</div> 
		{{> scripts}} 
	</body> 
</html>