<!DOCTYPE html>
<html>
	<head>
		{{> head}}
		{{> styleformulario}}
		<meta charset="utf-8">
		<title>Filmator - Cadastro de usuário</title>
	</head>
	<body>
		{{> navlogin}}
		{{> headerSemLogin}}
		<div align="center"> 
			<form action="/salvarUsuario" method="post"> 
				<h3>Cadastre um novo usuário:</h3>
				<br>
				<div class="divformulario"> 
					<label>Login:</label> 
					<input name="login" type="text" required placeholder="Login"></input> 
				</div> 

				
				<div class="divformulario"> 
					<label>Senha:</label> 
					<input name="senha" type="password" required placeholder="Senha"></input> 
				</div> 
				
				<div> 
					<input name="cadastrar" type="submit" required value="Cadastrar"> 
				</div>
			</form> 
		</div>
		{{> scripts}} 
	</body> 
</html>