<!DOCTYPE html>
<html>
	<head>
		{{> head}}
		{{> styleformulario}}
		{{> styleconsulta}}
		{{> stylebotao}}
		{{> campos}}
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
		<title>Filmator - Cadastro de usuário</title>
	</head>
	<body>
		{{> nav}}
		{{> headerSemLogin}}
		<div align="center"> 
			<form action="/salvarUsuario" method="post"> 
				<div class="divformulario"> 
					<label>Cadastre um novo usuário:</label> 
				</div>
				
				<div class="divformulario"> 
					<label>Login:</label> 
					<input name="login" type="text" required placeholder="Login"></input> 
				</div> 

				<div class="divformulario"> 
					<label>Senha:</label> 
					<input name="senha" type="password" required placeholder="Senha"></input> 
				</div> 
				
				<div> 
					<input class="btn" name="cadastrar" type="submit" required value="Cadastrar"> 
				</div>
			</form> 
		</div>
		{{> scripts}} 
	</body> 
</html>