<html>
	<head>
		{{> head}}
		{{> styleconsulta}}
		<meta charset="utf-8">
		<title>Filmator - Consulta</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	</head>
	<body>
		{{> nav}}
		{{> header}}
		<div align="center">
			<div>
				{{#Filmes}}
				<div class="span_1_of_about">
					<img src="{{imagem}}"/>
				</div>
				<div class="consulta">
					<h2 class="titulo">{{nome}} ({{anoLancamento}})</h2>
				 	<h3>Dirigido por: {{diretor}}</h3>
				 	<h4>{{{genero}}}</h4>
				 	<h4 class="sinopse">{{sinopse}}</h4>
				  	<h4>Avaliação dos usuários: {{nota}}</h4>
				</div>
				<div class="clearfix"></div>	
				<br>
			{{/Filmes}}
		</div>
		<br>
		{{> scripts}}
	</body>
</html>