<html>
	<head>
		{{> head}}
		{{> stylebotao}}
		<meta charset="utf-8">	   
		<title>Filmator</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		{{> navhome}}
		{{> header}}
		<div align="center">
		{{#usuarioLogado}}
			{{#menuAdministrador}}
			<div>
				<a href="/cadastroFilme" class=btn>Cadastrar filme</a>
			</div>
			{{/menuAdministrador}}
			<p>
			<div>
				<a href="/consulta" class=btn>Consulta</a>
			</div>
			<p>
			<div>
				<a href="/avaliacao" class=btn>Avaliar</a>
			</div>
			<p>
		</div>
		{{/usuarioLogado}}
		{{> scripts}}
	</body>
</html>