<!DOCTYPE html>
<html>
	<head>
		{{> head}}
		{{> styleformulario}}
		{{> styleconsulta}}
		{{> stylebotao}}
		{{> campos}}
		<meta charset="utf-8">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<title>Filmator - Login</title>
	</head>
	<body> 
		{{> navlogin}}
		{{> headerSemLogin}}
		<div align="center"> 
			<form action="/autenticar" method="post"> 
				<div class="divformulario"> 
					<label>Login:</label> 
					<input name="login" type="text" required placeholder="Seu login"></input> 
				</div> 

				<div class="divformulario"> 
					<label>Senha:</label> 
					<input name="senha" type="password" required placeholder="Sua senha"></input> 
				</div> 
				
				<div class="divformulario"> 
					<input class=btn type="submit" value="Login"> 
				</div>
			</form> 
		</div> 
		{{> scripts}} 
	</body> 
</html>